[submodule "vim.symlink/bundle/vundle"]
	path = vim.symlink/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "oh-my-zsh.symlink"]
	path = oh-my-zsh.symlink
	url = git://github.com/robbyrussell/oh-my-zsh.git
